



.logo {
  font-size: 20px;
}


.links {
  float: right;
}


input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }

  .bodyStyle{width:961px; margin:0 auto; background-color:#fff;}

  ul{float: left; list-style: none;}
 
  section {clear: both; overflow: hidden;}

  .recipeBackground { 
      
    background-image: url("../img/list-bg.png");}
