



.logo {
  font-size: 20px;
}


.links {
  float: right;
}


input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }

  .bodyStyle{width:961px; margin:0 auto; background-color:#fff;}

  ul{float: left; list-style: none;}
 
  section {clear: both; overflow: hidden;}

  .recipeBackground { 
      
    background-image: url("../img/list-bg.png");}

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
    }

    .button {
      background-color: orangered;
      display: inline;
      padding: 10px;
      border: 1px solid;
      color: white;
    }

    .buttontext {
     display: inline;
     padding-bottom: 10px;
     
    }

