.logo {
    font-size: 30px;
    font-family: 'Arizonia', cursive;
    margin: 0;
    padding: 0;
    
}
.logoText p {
float: left;
margin: 0;
padding: 0;


}
.links {
    float: right;
}
.bodyStyle{
    width:901px;
    margin:0 auto;
    background-color:#fff;
}
ul{
   float: left;
    list-style: none;
}
section {
   clear: both;
    overflow: hidden;
}
.recipeBackground {
    background-image: url("../img/list-bg.png");
}
input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}


.imageClass{float: left;}
.navBar{float: right;}






